<div class="profile">
  <div class="profile_pic">
    <%= image_tag "user.png", :class => "img-circle profile_img"  %>
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>Danilo Xavier</h2>
  </div>
</div>
