<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-bookmark"></i> <span>Bookmarks</span></a>
  </div>
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <%= render "partials/profilepic" %>
  <!-- /menu profile quick info -->
  <br />

  <!-- sidebar menu -->
  <%= render "partials/sidebarmenu" %>
  <!-- /sidebar menu -->
</div>
