<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section" style="height: 100%">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li class="active">
        <a href="dashboard/">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a href="projects/">
          <i class="fa fa-book"></i>
          Projects
        </a>
      </li>
      <li>
        <a href="calendar/">
          <i class="fa fa-calendar"></i>
          Calendar
        </a>
      </li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Live On</h3>
    <ul class="nav side-menu">

      </ul>
    </div>
  </div>
  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
