<!-- page content -->
<div class="right_col" ng-controller="Project::ShowController" ng-init="init()" role="main">
  <div class="page-title" style="margin-top: 60px">    
    <div class="title">
      <a href="javascript:history.back()" class="btn btn-default" style="float: left;margin-right: 12px;padding-top: 2px;padding-bottom: 2px;">
        <i class="fa fa-reply"></i>
      </a>
      <h3 class="hidden-xs">{{project.nome}}</h3>
      <h4 class="visible-xs">{{project.nome}}</h4>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row tile_count title_count">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tile_stats_count">
      <div class="count_top"><i class="fa fa-user"></i> Data início</div>
      <span class="count">
        {{ project.data_inicio }}
      </span>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Média de página/dia</span>
      <div class="count">{{ project.media_pagina_dia }}</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Data finalização</span>
      <div class="count">{{ project.dia_finalizacao }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="x_panel title">
        <div class="x_title">
          <span style="font-size: 15px; color: #73879C;">Progresso</span>
        </div>

        <div class="x_content" style="margin-top: 10px">
          <div class="col-xs-12">
            <div id="echart_guage" style="height:230px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 hidden-xs">
      <div class="x_panel title">
        <div class="x_title">
          <span style="font-size: 15px; color: #73879C;">Geral</span>
        </div>

        <div class="x_content" style="margin-top: 10px">
          <div class="col-xs-12">
            <div id="mainb" style="height: 230px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel title">
        <div class="x_title">
          <span style="font-size: 15px; color: #73879C;">Atividade recente</span>
        </div>

        <div class="x_content" style="margin-top: 10px">
          <div class="col-xs-12" style="padding: 0">
            
            <!-- end of user messages -->
            <ul class="col-xs-12 messages">
              <li ng-repeat="log in project.logs">
                <div class="message_date" style="padding: 0">
                  <h3 class="date text-info">{{getDia(log.data)}}</h3>
                  <p class="month">{{getMes(log.data)}} - {{getAno(log.data)}}</p>
                </div>
                <div class="message_wrapper" style="padding: 0; margin: 0">
                  <!-- <blockquote class="message">{{log|json}}</blockquote> -->

                  <ul class="stats-overview" style="padding: 0">
                    <li style="padding: 0; width: 24%">
                      <span class="name"> Início </span>
                      <span class="value text-success"> {{ log.start_page }} </span>
                    </li>
                    <li style="padding: 0; width: 24%">
                      <span class="name"> Fim </span>
                      <span class="value text-success"> {{log.end_page}} </span>
                    </li>
                    <li style="padding: 0; width: 24%">
                      <span class="name"> Total </span>
                      <span class="value text-success"> {{log.total_pages}} </span>
                    </li>
                  </ul>
                </div>

                <div ng-if="!log.note" class="clearfix"></div>
                <div ng-if="log.note" class="message_wrapper" style="padding: 0; margin: 0; margin-top: 20px">
                  <blockquote class="message" ng-bind-html="log.note"></blockquote>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
